/* reset */
$min-width: 320px; 
$max-width: 1920px; 
$base-bg: #FFF; 
$link-color: #100da9;
$default-transition:all 0.2s linear;

//fonts
$medium-font-family1: 'Violet', sans-serif; 
$medium-font-family5: 'FiraMonoOT', sans-serif; 
$regular-font-family1: 'Nord', sans-serif; 

$regular-font-family4: 'Roboto-Regular', sans-serif; 
$medium-font-family2: 'Raleway-Medium', sans-serif; 
$regular-font-family2: 'Raleway-Regular', sans-serif; 
$bold-font-family1: 'Roboto-Bold', sans-serif; 
$bold-font-family2: 'Raleway-Bold', sans-serif; 
$medium-font-family3: 'Roboto-Medium', sans-serif; 
/* main variables */

//text, titles
$text-color: #5d5a55;
$title-color: #373e42;

//background
$main-color-bg: #0e4061;
$main-color-bg2: #75b5d9;