.auth-wrapper {
    background-image: url(../img/bg/heroPortfolio2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: inherit;
    margin: 0 auto;
    height: 100vh;

    @include tablets {
        & {
            background-image: none;
            background: linear-gradient(to right, rgba(41, 128, 185, 1), rgba(44, 62, 80, 1))
        }
    }
}