.login-wrapper {
    max-width: inherit;

    @include tablets {
        & {
            height: 100vh;
            background: linear-gradient(to right, rgba(41, 128, 185, 1), rgba(44, 62, 80, 1))
        }
    }
    &__img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: inherit;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        height: 100vh;

        @include tablets {
            & {
                display: none;
            }
        }
    }
    // background-image: url(../img/bg/heroPortfolio2.jpg);
}