.login-wrapper {
    max-width: inherit;
    &__img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: inherit;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }
    // background-image: url(../img/bg/heroPortfolio2.jpg);
}