@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular/Roboto-Regular.eot');
    src: url('../../fonts/Roboto-Regular/Roboto-Regular.eot') format('embedded-opentype'),
    url('../../fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
    url('../../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('../../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
    url('../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../fonts/Roboto-Bold/Roboto-Bold.eot');
    src: url('../../fonts/Roboto-Bold/Roboto-Bold.eot') format('embedded-opentype'),
    url('../../fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2'),
    url('../../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
    url('../../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
    url('../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../fonts/Roboto-Medium/Roboto-Medium.eot');
    src: url('../../fonts/Roboto-Medium/Roboto-Medium.eot') format('embedded-opentype'),
    url('../../fonts/Roboto-Medium/Roboto-Medium.woff2') format('woff2'),
    url('../../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
    url('../../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype'),
    url('../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium') format('svg');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../../fonts/Raleway-Regular/Raleway-Regular.eot');
    src: url('../../fonts/Raleway-Regular/Raleway-Regular.eot') format('embedded-opentype'),
    url('../../fonts/Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
    url('../../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
    url('../../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype'),
    url('../../fonts/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular') format('svg');
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../../fonts/Raleway-Medium/Raleway-Medium.eot');
    src: url('../../fonts/Raleway-Medium/Raleway-Medium.eot') format('embedded-opentype'),
    url('../../fonts/Raleway-Medium/Raleway-Medium.woff2') format('woff2'),
    url('../../fonts/Raleway-Medium/Raleway-Medium.woff') format('woff'),
    url('../../fonts/Raleway-Medium/Raleway-Medium.ttf') format('truetype'),
    url('../../fonts/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium') format('svg');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../../fonts/Raleway-Bold/Raleway-Bold.eot');
    src: url('../../fonts/Raleway-Bold/Raleway-Bold.eot') format('embedded-opentype'),
    url('../../fonts/Raleway-Bold/Raleway-Bold.woff2') format('woff2'),
    url('../../fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'),
    url('../../fonts/Raleway-Bold/Raleway-Bold.ttf') format('truetype'),
    url('../../fonts/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold') format('svg');
}

@font-face {
    font-family: 'Violet';
    src: url('../../fonts/Violet/Violet.eot');
    src: url('../../fonts/Violet/Violet.eot') format('embedded-opentype'),
    url('../../fonts/Violet/Violet.woff2') format('woff2'),
    url('../../fonts/Violet/Violet.woff') format('woff'),
    url('../../fonts/Violet/Violet.ttf') format('truetype'),
    url('../../fonts/Violet/Violet.svg#Violet') format('svg');
}

@font-face {
    font-family: 'Nord';
    src: url('../../fonts/Nord/Nord.eot');
    src: url('../../fonts/Nord/Nord.eot') format('embedded-opentype'),
    url('../../fonts/Nord/Nord.woff2') format('woff2'),
    url('../../fonts/Nord/Nord.woff') format('woff'),
    url('../../fonts/Nord/Nord.ttf') format('truetype'),
    url('../../fonts/Nord/Nord.svg#Nord') format('svg');
}

@font-face {
    font-family: 'FiraMonoOT';
    src: url('../../fonts/FiraMonoOT/FiraMonoOT.eot');
    src: url('../../fonts/FiraMonoOT/FiraMonoOT.eot') format('embedded-opentype'),
    url('../../fonts/FiraMonoOT/FiraMonoOT.woff2') format('woff2'),
    url('../../fonts/FiraMonoOT/FiraMonoOT.woff') format('woff'),
    url('../../fonts/FiraMonoOT/FiraMonoOT.ttf') format('truetype'),
    url('../../fonts/FiraMonoOT/FiraMonoOT.svg#FiraMonoOT') format('svg');
}
